<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Al-Birr Charity</title>


    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Style/css")

   
</head>
<body >


    <nav id="topHeader" class="navbar navbar-default no-margin">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="~/images/logo.jpg" alt="logo" /></a>

        </div><!-- navbar-header-->

        <div id="mainTitle" style="display: none" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            </ul>
            <div class="top-main-heading pull-left">
                ERP
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-12 pull-right">
                <div class="topdate">Tuesday, August 04, 2015</div>
            </div>
        </div><!-- bs-example-navbar-collapse-1 -->

    </nav>


    <div id="subTitle" class="top-main-heading pull-left col-xs-12 hidden-lg hidden-md hidden-sm text-center">
        ERP
    </div>

    <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
        <div class="topdate text-center max-width">Tuesday, August 04, 2015</div>
    </div>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <a style="color: #59bf5b; background: #e6e6e6;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x"></i></span> Welcome, Hafiz Kashif</a>
                </li>
                <li>
                    <a style="color: #e96f50; background: #e6e6e6;" href="/Home/Login"><span class="fa-stack fa-lg pull-left"><i class="fa fa-power-off fa-stack-1x "></i></span>Logout خروج </a>
                </li>
                <li>
                    <a href="/#/"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-tachometer fa-stack-1x "></i></span>Dashboard  التقارير</a>
                </li>
                <li>
                    <a href="/#/GroceryKitForm"><span class="fa-stack fa-lg pull-left"><i class="fa fa-folder-open fa-stack-1x "></i></span>Grocery Kit Form</a>
                </li>
                <li>
                    <a href="/#/Region"><span class="fa-stack fa-lg pull-left"><i class="fa fa-folder-open fa-stack-1x "></i></span>Region</a>
                </li>
                <li>
                    <a href="/#/City"><span class="fa-stack fa-lg pull-left"><i class="fa fa-minus-circle fa-stack-1x "></i></span>City</a>
                </li>
                <li>
                    <a href="/#/Area"><span class="fa-stack fa-lg pull-left"><i class="fa fa-check-circle fa-stack-1x "></i></span>Distribution Point</a>
                </li>
                <li>
                    <a href="/#/Manager"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Manager</a>
                </li>
                <li>
                    <a href="/#/Manager"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Employee Registration</a>
                </li>
                <li>
                    <a href="/#/Doctor"><span class="fa-stack fa-lg pull-left"><i class="fa fa-folder-open fa-stack-1x "></i></span>Doctor</a>
                </li>
                <li>
                    <a href="/#/ExpenseGroup"><span class="fa-stack fa-lg pull-left"><i class="fa fa-minus-circle fa-stack-1x "></i></span>Expense Group</a>
                </li>
                <li>
                    <a href="/#/GiftType"><span class="fa-stack fa-lg pull-left"><i class="fa fa-minus-circle fa-stack-1x "></i></span>Gift Type  انواع التبرعات</a>
                </li>
                <li>
                    <a href="/#/Donor"><span class="fa-stack fa-lg pull-left"><i class="fa fa-minus-circle fa-stack-1x "></i></span>Donor    المتبرعون</a>
                </li>
                <li>
                    <a href="/#/Voucher"><span class="fa-stack fa-lg pull-left"><i class="fa fa-minus-circle fa-stack-1x "></i></span>Receipt Voucher   سند القبض   </a>
                </li>
                <li>
                    <a href="/#/Employee"><span class="fa-stack fa-lg pull-left"><i class="fa fa-minus-circle fa-stack-1x "></i></span>Employee   الموظف</a>
                </li>
                <li>
                    @*<a href="/#/Employee"><span class="fa-stack fa-lg pull-left"><i class="fa fa-minus-circle fa-stack-1x "></i></span>Bank   البنوك</a>*@
                    <a href="/#/Bank"><span class="fa-stack fa-lg pull-left"><i class="fa fa-folder-open fa-stack-1x "></i></span>Bank   البنوك</a>

                </li>
                @*<li>
                    <a href="/#/Area"><span class="fa-stack fa-lg pull-left"><i class="fa fa-check-circle fa-stack-1x "></i></span>Expense Heads</a>
                </li>
                <li>
                    <a href="/#/Manager"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Expense Sheet</a>
                </li>*@
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz" style="padding: 0;">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


    <div class="footer col-sm-12 col-xs-12">
        &COPY; Copyright 2015 QST Inc. All rights reserved
    </div>
    <!-- /#wrapper -->
    <!-- Scripts -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/QST")




</body>
</html>